{
  "name": "__PROJECT_NAME__",
  "version": "0.0.0",
  "description": "__PROJECT_DESCRIPTION__",
  "homepage": "https://github.com/__ORG__/__PROJECT_NAME__#readme",
  "bugs": {
    "url": "https://github.com/__ORG__/__PROJECT_NAME__/issues"
  },
  "repository": {
    "type": "git",
    "url": "git+https://github.com/__ORG__/__PROJECT_NAME__.git"
  },
  "license": "MIT",
  "bin": {
    "__PROJECT_NAME__": "bin/cli.js"
  },
  "files": [
    "bin",
    "dist"
  ],
  "os": [
    "darwin",
    "linux",
    "win32"
  ],
  "cpu": [
    "x64",
    "arm64"
  ],
  "publishConfig": {
    "access": "public"
  },
  "engines": {
    "node": ">=18"
  }
}
